<div class="container">
  <div align="center">
    <h1 class="h1-top">Nieuwe weekstaat</h1>
    <div class="form">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
          <div class="form-post">
            <%= simple_form_for @formulier, url: formulier_index_path, :html => {:class => 'form-horizontal' } do |f| %>
            <div class="col-fixed-300">
            <%= f.input :naam_werknemer, :required => true, :label => "Naam" %>
            </div>
             <div class="row">
               <div class="col-xs-4">
                <%= f.input :weeknummer, :required => true %>
              </div>
              <div class="col-xs-4 margin-left">
                <%= f.input :van, :required => true %>
              </div>
              <div class="col-xs-4 margin-left">
              <%= f.input :tot, :required => true %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :aannemer, :required => true %>
                </div>
                <div class="col-xs-6">
                  <%= f.input :plaats_werk, :required => true %>
                </div>
              </div>
            <div class="flexbox">
              <div class="row">
               <div class="col-fixed-200">
              <p class="p-werkuren">Gewerkte uren</p>
              </div>
              </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :urenmaandag, :required => true, :label => "Maandag" %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :urendinsdag, :required => true, :label => "Dinsdag" %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :urenwoensdag, :required => true, :label => "Woensdag" %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :urendonderdag, :required => true, :label => "Donderdag" %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :urenvrijdag, :required => true, :label => "Vrijdag" %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :urentotaal, :label => "Totaal" %>
                   </div>
                  </div>
                </div>
                <h3>Productie</h3>

               <div class="flexbox">
                <div class="row">
                  <div class="col-fixed-200">
                    <p class="p-werkuren">Gevelsteen</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :gevelsteen_maandag, :required => true, :label => "Maandag" %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :gevelsteen_dinsdag, :required => true, :label => "Dinsdag" %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :gevelsteen_woensdag, :required => true, :label => "Woensdag" %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :gevelsteen_donderdag, :required => true, :label => "Donderdag" %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :gevelsteen_vrijdag, :required => true, :label => "Vrijdag" %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :gevelsteen_totaal, :label => "Totaal" %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Pointmasteren</p>
                </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :pointmasteren_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :pointmasteren_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :pointmasteren_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :pointmasteren_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :pointmasteren_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :pointmasteren_totaal, label: false %>
                   </div>
                  </div>
                </div>

                 <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Snelbouwsteen 100</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :snelbouwsteen100_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :snelbouwsteen100_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :snelbouwsteen100_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :snelbouwsteen100_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :snelbouwsteen100_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :snelbouwsteen100_totaal, label: false %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Snelbouwsteen 140</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :snelbouwsteen140_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :snelbouwsteen140_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :snelbouwsteen140_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :snelbouwsteen140_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :snelbouwsteen140_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :snelbouwsteen140_totaal, label: false %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Isolatie hardschuim</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :hardschuim_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :hardschuim_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :hardschuim_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :hardschuim_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :hardschuim_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :hardschuim_totaal, label: false %>
                   </div>
                  </div>
                </div>
                    <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Isolatie afplakken</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :isolatieafplakken_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :isolatieafplakken_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :isolatieafplakken_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :isolatieafplakken_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :isolatieafplakken_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :isolatieafplakken_totaal, label: false %>
                   </div>
                  </div>
                </div>

                   <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Rollagen</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :rollagen_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :rollagen_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :rollagen_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :rollagen_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :rollagen_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :rollagen_totaal, label: false %>
                   </div>
                  </div>
                </div>

                     <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Dilitatie</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :dilitatie_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :dilitatie_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :dilitatie_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :dilitatie_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :dilitatie_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :dilitatie_totaal, label: false %>
                   </div>
                  </div>
                </div>

                   <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Latei staal/beton tot 25kg</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :lateitot25_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :lateitot25_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :lateitot25_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :lateitot25_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :lateitot25_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :lateitot25_totaal, label: false %>
                   </div>
                  </div>
                </div>

                 <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Latei staal/beton tot 50kg</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :lateitot50_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :lateitot50_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :lateitot50_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :lateitot50_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :lateitot50_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :lateitot50_totaal, label: false %>
                   </div>
                  </div>
                </div>

                  <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Negge groter dan 90</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :negge_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :negge_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :negge_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :negge_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :negge_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :negge_totaal, label: false %>
                   </div>
                  </div>
                </div>

                  <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Perinsul</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :perinsul_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :perinsul_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :perinsul_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :perinsul_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :perinsul_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :perinsul_totaal, label: false %>
                   </div>
                  </div>
                </div>

                  <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Schragensteiger</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :schragensteiger_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :schragensteiger_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :schragensteiger_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :schragensteiger_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :schragensteiger_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :schragensteiger_totaal, label: false %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Consoles/metselb.</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :consoles_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :consoles_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :consoles_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :consoles_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :consoles_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :consoles_totaal, label: false %>
                   </div>
                  </div>
                </div>

                 <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Vloerrooster</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :vloerrooster_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :vloerrooster_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :vloerrooster_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :vloerrooster_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :vloerrooster_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :vloerrooster_totaal, label: false %>
                   </div>
                  </div>
                </div>

                  <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Stootvoegrooster</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :stootvoegrooster_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :stootvoegrooster_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :stootvoegrooster_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :stootvoegrooster_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :stootvoegrooster_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :stootvoegrooster_totaal, label: false %>
                   </div>
                  </div>
                </div>


                  <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Murfor</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :murfor_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :murfor_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :murfor_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :murfor_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :murfor_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :murfor_totaal, label: false %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">DPC</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :dpc_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :dpc_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :dpc_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :dpc_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :dpc_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :dpc_totaal, label: false %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Zagen</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :zagen_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :zagen_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :zagen_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :zagen_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :zagen_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :zagen_totaal, label: false %>
                   </div>
                  </div>
                </div>

                <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Gasbeton koude br.</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :gasbeton_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :gasbeton_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :gasbeton_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :gasbeton_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :gasbeton_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :gasbeton_totaal, label: false %>
                   </div>
                  </div>
                </div>

                 <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Raamdorpel tot 25</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :raamdorpel25_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :raamdorpel25_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel25_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel25_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel25_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :raamdorpel25_totaal, label: false %>
                   </div>
                  </div>
                </div>

                  <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Raamdorpel tot 50</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :raamdorpel50_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :raamdorpel50_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel50_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel50_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel50_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :raamdorpel50_totaal, label: false %>
                   </div>
                  </div>
                </div>

                     <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Raamdorpel tot 100</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :raamdorpel100_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :raamdorpel100_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel100_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel100_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :raamdorpel100_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :raamdorpel100_totaal, label: false %>
                   </div>
                  </div>
                </div>

                     <div class="flexbox">
                 <div class="row">
                 <div class="col-fixed-200">
                  <p class="p-werkuren2">Schuinte</p>
                  </div>
                </div>
              <div class="col-flexbox">
                <div class="col-xs-2">
                  <%= f.input :schuinte_maandag, :required => true, label: false %>
                  </div>
                  <div class="col-xs-2">
                   <%= f.input :schuinte_dinsdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :schuinte_woensdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :schuinte_donderdag, :required => true, label: false %>
                   </div>
                    <div class="col-xs-2">
                   <%= f.input :schuinte_vrijdag, :required => true, label: false %>
                   </div>
                   <div class="col-xs-2">
                   <%= f.input :schuinte_totaal, label: false %>
                   </div>
                  </div>
                </div>
                    <%= f.input :opmerkingen, :as => :text %>
              </div>
            </div>
            </div>
            <div>
              </br>
              <%= f.button :submit, 'Verstuur weekstaat', :class=> "main-button" %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
